* {
	font-family: Arial, Helvetica, sans-serif;
}

h1, header > p{
	text-align: center;
	margin: 0;
}

body{
	margin: 0;
	padding: 0;
	font-size: 15px;
}

nav {
	text-align: center;
	margin: 0;
	overflow: hidden;
}

nav ul{
	margin: 0px, 0px, 0px, 0px;
	padding: 0;
	list-style: none;
}

nav ul li {
	margin: 0;
	display: inline-block;
	list-style-type: none;
}

nav > ul > li > a {
	color: white;
	border-radius: 3px;
	background-color: #ffbe6b;
	padding: 0.15em 0.3em 0.15em 0.3em;
	text-decoration: none;
}

nav ul li a:hover {
	background-color: #e08b21;
}

h2 {
	text-align: left;
	margin-left: 19em;
}

h3, body > section > ul {
	text-align: left;
	margin-left: 26em;
	margin-right: 26em;
	margin-bottom: 5px;
}

section > p {
	text-align: left;
	margin-left: 31em;
	margin-right: 31em;
}

section > ul > li {
	text-align: left;
	font-size: 0.95em;
	margin-left: 3em;
	margin-right: 3em;
}

code > pre {
	font-family: "Courier New", Courier, monospace;
	font-size: 0.83em;
	text-align: left;
	margin-left: 27em;
	margin-right: 27em;
	margin-bottom: 0;
	margin-top: 0;
}
