code {
	font-family: Courier, serif;
}

* {
	font-family: Arial, Helvetica, sans-serif;
}

body{
	margin: 0;
	padding: 0;
	font-size: 15px;
}

nav {
	text-align: center;
	margin: 0;
	overflow: hidden;
}

nav ul{
	margin: 0px, 0px, 0px, 0px;
	padding: 0;
	list-style: none;
}

nav ul li {
	margin: 0;
	display: inline-block;
	list-style-type: none;
}

nav > ul > li > a {
	color: white;
	border-radius: 3px;
	background-color: #ffbe6b;
	padding: 0.15em 0.3em 0.15em 0.3em;
	text-decoration: none;
}

nav ul li a:hover {
	background-color: #e08b21;
}

nav li > ul{
	display: none;
	margin-top: 1px;
	background-color: #ffbe6b;
	box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
	border-radius: 3px;
}

nav li > ul li {
	display: block;
}

nav li > ul li a {
	color: #ba913d;
	background-color: #e0e0e0;
	display: block;
	line-height: 1em;
	border-radius: 3px;
	padding: 0.25em 0.25em;
	text-decoration: none;
}

nav li:hover > ul{
	position: absolute;
	display: block;
}
